@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/*
#70119f
#7d16b1
https://paletadecores.com/paleta/000000/9f111b/b11623/292c37/cccccc/ 
oi
*/
header{
    background-color: #292c37;
    color: #fff; 
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

section{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

article{
    background-color: #fff;
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 993px){
    article{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}